<center><div class="titlefront">Your url for <br /></div><%= @url.long_url %><br /><br />
<%= link_to @url.short_url, @url.short_url, target: "_blank" %><br /> <br /><br />
<%= link_to "Create another Url", root_path %></center>