<center><div class="titlefront">Create a Ty.Ne link!</div><br />

<%= form_for "", url: urls_path, method: :post do |f| %>
  <%= f.text_field :url %>
  <%= f.submit "Click Here!" %>
<% end %></center>